* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-gallery{
    max-width: 1280px;
    margin: 20px auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.fullview{
    margin-bottom: 20px;
    border: 2px solid transparent;
}

.preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.preview li {
    display: flex;
    width: 320px;
    height: 213px;
    border: 2px solid transparent;
}

.preview li.preview-active {
    box-shadow: inset 0 0 10px gold;
}

.preview li.preview-active img {
    outline: 4px solid gold;
}

.preview li:hover {
    overflow: visible;
}

.preview img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 30px 10px white;
    transition: all .3s;
}