body{
  width: 900px;
  margin: 0 auto;
  padding-bottom: 100px;
}
.title{
  padding: 25px;
  text-align: center;
}
form input{
  border: 1px solid grey;
}
fieldset{
  padding: 10px 25px;
  border-top: 1px solid grey;
}
input{
  padding: 5px 10px;
  font-size: 12px;
}
form input:focus{box-shadow: 0 0 3px blue;}
.field-holder{
  overflow: hidden;
  padding: 10px 10px 10px 0;
}
.field-holder label{
  float: left;
  min-width: 80px;
  margin: 0 5px 0 0;
}
form input,
form select{margin: 0 10px 0 0;}
form li{margin: 0 0 15px;}
form em{font-style: italic;}