.box {
  background: url(https://i.allo.ua/media/catalog/product/cache/1/image/425x295/799896e5c6c37e11608b9f8e1d047d15/g/r/gray_6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body {
  background: #555;
  font-family: sans-serif;
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.wrapper {
  min-width: 22.5rem;
  max-width: 90%;
  margin: auto;
  padding: 2rem 1rem 2rem 1.5rem;
  background: #fff;
  box-shadow: 2px 2px 2px 2px hsla(0, 0%, 0%, .2);
  min-height: 96vh;
}

h2, h3 {
  text-align: center;
  text-shadow: 2px 2px 2px hsla(0, 0%, 0%, .2);
}

ul {
  list-style: none;
}

li {
  margin-bottom: 1rem;
}
a {
  text-shadow: 1px 1px 3px hsla(0, 0%, 0%, .2);
  text-decoration: none;
  color: darkslateblue;
  text-decoration: transparent wavy underline;
  transition: all .4s ease-in-out .1s;
}

a:hover {
  transition: all .4s ease-in-out .1s;
  text-decoration: darkslateblue wavy underline;
}

.red {
  color: red;
}
.wrp {
  padding: 1rem;
  max-width: 90%;
  min-width: 22.5rem;
  margin: auto;
  box-shadow: 2px 2px 2px 2px hsla(0,0%,0%,.2);
  display: flex;
  justify-content: space-around;
}
.box {
  max-width: 32%;
  box-shadow: 2px 2px 2px 2px hsla(0,0%,0%,.2);
  min-height: 10rem;
}

button {
  margin: 1rem;
  --s: 5rem;
  width: var(--s);
  height: var(--s);
  border-radius: 50%;
  border: none;
  background: #88f;
  color: #fff;
  font-size: 18px;
  box-shadow: 2px 2px 2px 2px hsla(0,0%,0%,.2);
  cursor: pointer;
}
.panel {
  min-height: 10rem;
  font-size: 24px;
  font-family: sans-serif;
}
.timer {
  text-align: center;
  margin-bottom: 1rem;
  color: #800;
  box-shadow: 2px 2px 2px 2px hsla(0, 0%, 0%, .2);
}